<% include ../partials/head%>

<main>
		<div class="background_img"><img src="https://res.cloudinary.com/dqpoj0kcn/image/upload/v1569484149/Rectangle_2.1.svg" alt="frog" class="curve_img">
	      <div class="overfloat_text">
	        <h2>You are Limitless!</h2>
	        <p>Hebe...solution for the achievers</p>
	      </div>
	    </div>
	    <div class="hebe_logo"><img src="https://res.cloudinary.com/drpk8jfdq/image/upload/v1569601090/hebe_brgiib.jpg"></div>
	    <div class="hebelogo_hide"><img src="https://res.cloudinary.com/drpk8jfdq/image/upload/v1569601090/hebe2_oja2qb.png"></div>
	    <div class="main_content">
	    	<p><h3>What is the platform all about?</h3> <span>Hebe tracker helps users to 
	    		input their goals and monitor it.<br> The inputted goals are either completed or failed.
	    	</span></p>
	    	<p><h3>Who can use the platform?</h3> <span>The platform is open to everybody. You can create an<br> account that will sign you in.
	    	</span></p>
	    	<p><h3>Can I login with any social media account?</h3> 
	    	<span>Yes. Users have the ability to login via facebook or gmail.
	    	</span></p>
	    	<p><h3>How safe is my personal information?</h3> 
	    	<span>Your personal information is never shared with a third party.<br> Every details is solely
	    		for accessing the website.
	    	</span></p>
	    	<p><h3>Can I suggest new features for the application?</h3> 
	    	<span>Yes. You can create an issue on our <a href="https://github.com/zonebyte/hebe-underdogs">github repository</a><br> and it will be looked into by any of our admins.
	    	</span></p>
	    </div>
	</main>    

<% include ../partials/footer%>